* {
    margin: 0;
    padding: 0;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    text-decoration: none;

}

/* Main */
#container-see-more{
    width: 100%;
    height: calc(100vh - 10vh - 7px);;

    padding: 0 0 30px;   
}
/* Note */
#content-note-plus {
    width: 90%;
    height: auto;
    display: block;
    margin: 0 auto 0;
    padding: 20px 0 30px;
}

#title-note-more {
    width: 90%;
    height: 55px;
    background-color: #efefef;
    color: #459ff3;
    font-weight: 500;
    font-size: 2rem;
    display: flex;
    align-items: center;
    padding: 0 16px;
    margin: 0 auto 10px;
}
#description-note-more {
    width: 90%;
    height: 35px;
    background-color: #efefef;
    display: flex;
    align-items: center;
    margin: 0 auto 10px;
    padding: 0 16px;
    color: rgba(51, 51, 51, 70%);
    font-weight: 300;
}
#text-note-more {
    width: 90%;
    height: auto;
    min-height: 40vh;
    max-width: 90%;
    background-color: #efefef;
    display: block;
    margin: 0 auto 10px;
    padding: 10px 16px;
    color: #333333;
}
#container-button-close {
    width: 90%;
    height: 45px;
    display: block;
    margin: 0 auto 20px;
}
#content-butto-back-page {
    width: fit-content;
    height: auto;
    padding: 10px 25px;
    background-color: #459ff3;
    border-radius: 9px;
    align-items: center;
    justify-content: center;
    color: #efefef;
}
#content-butto-back-page:hover {
    transition: .4s ease;
    text-decoration: none;
    background-color: #0245a3;
}
#mensage-error-see-more {
    width: fit-content;
    height: auto;
    display: block;
    margin: auto;
    color: #333333;
}

#content-button-upload-note {
    width: fit-content;
    height: auto;
    padding: 10px 25px;
    background-color: #ff4343;
    border-radius: 9px;
    align-items: center;
    justify-content: center;
    color: #efefef;
}
.fa-edit {
    font-size: 1.2rem;
}
#content-button-upload-note:hover {
    transition: .4s ease;
    text-decoration: none;
    background-color: #d63939;
}

input[type="text"] {
    width: 100%;
    height: auto;
    min-height: 35px;
    word-wrap: break-word;
    background-color: transparent;
}
textarea {
    width: 100%;
    height: 30vh;
    word-wrap: break-word;
    background-color: transparent;
    resize: none;
}

/* Mensage warning */
.panel-warning-mensage {
    width: 310px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    background-color: white;
    box-shadow: 0 0 1em 100em rgba(2, 68, 162, 50%);
}
.fa-warning {
    width: fit-content;
    font-size: 3.5rem;
    color: #ff4343;
    display: block;
    margin: 25px auto 15px;
}
#mensage {
    width: 280px;
    height: auto;
    display: flex;
    margin: 10px auto 0;
    color: #ff4343;
    text-align: center;
}

